In [1]:
def get_index(tup, elem):
    ''' input:elem-indicates the element in the tuple,tup-indicates the tuple
         output:Return the index of the element.'''
    
    for i in tup:
        if elem == i:
            return tup.index(i)
    return -1

In [4]:
get_index((1,1,2,3,4,5,1), 1)

0

In [6]:
a = range(10)
list(a[::2])

[0, 2, 4, 6, 8]

In [17]:
def odd_even_split_tuple(tup):
    ''' input:tup-indicates the tuple
         output:print two tuples one for even indexed and odd indexed in the given output format'''
    
    odd = tuple(tup[::2])
    even = tuple(tup[1::2])
    
    print(f"Odd: {odd}")
    print(f"Even: {even}")

In [18]:
odd_even_split_tuple((10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2))

Odd: (10, 5, 10, 10, 5, 8)
Even: (8, 2, 15, 8, 8, 2)

In [19]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [20]:
a = (1150, 'sea_vel', 909)
max(a)

TypeError: '>' not supported between instances of 'str' and 'int'

In [25]:
def unique_count(tup):
    ''' input:tup-indicates the tuple
         output:Print the unique elements and their frequency'''
    
    seen_items = []
    item_count = []
    
    for i in tup:
        if i in seen_items:
            continue
        else:
            seen_items.append(i)
            item_count.append(tup.count(i))
            
    
    for i, j in zip(seen_items, item_count):
        print(f"{i} : {j}")

In [26]:
unique_count((10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2))

10 : 3
8 : 4
5 : 2
2 : 2
15 : 1

In [23]:
a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

In [24]:
a.count(10)

3

In [27]:
fruits = ("Orange")

type(fruits)

str

In [28]:
set1 = {1, 2, 4}
set2 = {4, 5, 6}
print(len(set1 + set2))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [36]:
sets = {3, 4, 5} 
sets.add([1, 2 ,3])
print(sets)

TypeError: unhashable type: 'list'

In [37]:
a={'Aurn', 'Nikhil', 'Seeta'}
a[0]= 'Arun'
print(a)

TypeError: 'set' object does not support item assignment

In [38]:
s = set(['Scaler', 'Academy', 'is', 'Awesome'])
s

{'Academy', 'Awesome', 'Scaler', 'is'}

In [40]:
s = set('Scaler', 'Academy', 'is', 'Awesome')
s

TypeError: set expected at most 1 argument, got 4

In [41]:
s = set('Scaler Academy is Awesome')
s

{' ', 'A', 'S', 'a', 'c', 'd', 'e', 'i', 'l', 'm', 'o', 'r', 's', 'w', 'y'}

In [42]:
s ={'Scaler', 'Academy', 'is', 'Awesome'}
s

{'Academy', 'Awesome', 'Scaler', 'is'}

In [46]:
def set_operation(sent1,sent2):
    ''' input:sent1,sent2-two sentences taken as inputs
         output:return the sum of length of unique words.'''
    
    set1 = set(sent1.split(" "))
    set2 = set(sent2.split(" "))
    
    print(len(set1) + len(set2))

In [47]:
s1 = "in data analysis we use data and process it further to create better interpreted data"
s2 = "more and more data will be passively collected"

In [48]:
set_operation(s2,s1)

20

In [21]:
def simple_int(time,pa,ir):
    ''' time, pa, ir represents the time in number of days, principal amount and rate of interest
        Return the simple interest'''
    ans = 0
    # YOUR CODE GOES HERE

    ans = pa * (1 + ir* round(time/356)/100)
    return round(ans,2)

In [22]:
simple_int(365,9172,5.6)

9685.63

In [23]:
simple_int(789,10000.0,1.3)

10260.0

In [30]:
a = (1,2,[10,20])

In [31]:
id(a)

140275925539392

In [32]:
a[2].append(30)

In [33]:
a

(1, 2, [10, 20, 30])

In [34]:
id(a)

140275925539392

SyntaxError: invalid syntax (2301060995.py, line 1)

In [36]:
id(a[0])

140276719085872

In [37]:
id(a)

140275925539392

In [41]:
import ctypes
a = "hello world"
print(ctypes.cast(id(a), ctypes.py_object).value)

hello world

In [44]:
a = (1,2,[10,20])

SyntaxError: unexpected EOF while parsing (1092166680.py, line 1)

In [47]:
import gc

In [51]:
a

(1, 2, [10, 20])

In [52]:
id(a)

140276472247744

In [53]:
id(a[2])

140276472247168

In [54]:
a[2].append(30)

In [55]:
id(a)

140276472247744

In [56]:
id(a[2])

140276472247168

In [57]:
a = [1]

In [58]:
import sys
sys.getsizeof(a)

64

In [59]:
a.append(100)

In [60]:
sys.getsizeof(a)

120

In [4]:
from typing import List, Tuple

def pair_students(names: List[str], locations: List[Tuple[int, int]]) -> Tuple[str, str]:
    min_distance = float('inf')
    students = None
    for i in range(len(names)):
        for j in range(i+1, len(names)):
            distance = abs(locations[i][0] - locations[j][0]) + abs(locations[i][1] - locations[j][1])
            if distance < min_distance:
                min_distance = distance
                students = (names[i], names[j])
    return students

# Test the function
names = ['Alice', 'Bob', 'Charlie', 'Debbie', 'Maxine']
locations = [(1,2),(5,4),(0,3),(2,3),(0,0)]
print(pair_students(names, locations)) # should print ('Alice', 'Bob')

('Alice', 'Charlie')

In [9]:
def nearestStudents(names, locations):
    min_distance = float('inf')
    students = None
    for i in range(len(names)):
        for j in range(i+1, len(names)):
            distance = abs(locations[i][0] - locations[j][0]) + abs(locations[i][1] - locations[j][1])
            if distance < min_distance:
                min_distance = distance
                students = [names[i], names[j]]
    return students

In [10]:
names = ['Alice', 'Bob', 'Charlie', 'Debbie', 'Maxine']
locations = [(1,2),(5,4),(0,3),(2,3),(0,0)]
print(nearestStudents(names, locations))

['Alice', 'Charlie']

In [12]:
from typing import Tuple

def check_point(p1, p2, a, b, c):
    mid_x = (p1[0] + p2[0]) / 2
    mid_y = (p1[1] + p2[1]) / 2

    if a * mid_x + b * mid_y + c == 0:
        return True
    else:
        return False

# Test the function
p1 = (1, 2)
p2 = (3, 4)
a = 2
b = -2
c = 2
print(check_midpoint(p1, p2, a, b, c)) # should print True

True

In [14]:
def gradient(p1, p2):
    # Calculate the gradient of the line using the formula (y2 - y1) / (x2 - x1)
    gradient = (p2[1] - p1[1]) / (p2[0] - p1[0])
    return gradient

# Test the function
p1 = (1, 1)
p2 = (2,2)
print(gradient(p1, p2)) # should print 1.0

1.0

In [16]:
from typing import Tuple

def are_collinear(p1, p2, p3):
    # Calculate the slopes of the lines joining p1-p2 and p2-p3
    m1 = (p2[1] - p1[1]) / (p2[0] - p1[0])
    m2 = (p3[1] - p2[1]) / (p3[0] - p2[0])

    # If the slopes are equal, the points are collinear
    if m1 == m2:
        return True
    else:
        return False

# Test the function
p1 = (1, 2)
p2 = (3, 4)
p3 = (5, 6)
print(are_collinear(p1, p2, p3)) # should print True

p1 = (1, 2)
p2 = (3, 4)
p3 = (5, 7)
print(are_collinear(p1, p2, p3)) # should print False

True
False

In [36]:
class People:

    def __init__(self, name, age):
        self.name = name
        self.age = age

class Baby(People):

    def __init__(self, name, age, area):
        super().__init__(name, age)
        self.area = area

In [37]:
p = People('suman', 37)

In [38]:
b = Baby('reyaan', 3, 'suman')

In [3]:
height = 100
bounce = 1

while bounce <= 3:
    height = height * (3/5)
    bounce += 1

newheight = height

In [9]:
newheight

21.599999999999998

In [12]:
round(newheight, 2)

21.6

In [13]:
stocks = 'a, b, c'
prices = '10,20,30'
shares='1,2,3'

In [21]:
a = stocks.split(',')
b = prices.split(',')
c = shares.split(',')
d = []

for i in range(len(a)):
    d.append(a[i]+b[i]+c[i])

print(d)

['a101', ' b202', ' c303']

In [19]:
b

# Function Minima

In [25]:
def min_value(a,b,c,ll,ul):
	# a,b,c -> Integers. Coefficients of quadratic equation ax^2 + bx + c = 0
	# ll -> Integer. Lower limit of variable x
	# ul -> Integer. Upper Limit of variable x

	# return the Integer value of x for which the quadratic equation attains minimum value
	result = float('inf')
	# code starts here

	for i in range(ll, ul+1):
		derivative = 2 * a * i + (b)
		temp_ans = abs(derivative)
		# print(i, temp_ans)
		if temp_ans < result:
			result = temp_ans 
			ans = i 

	#code ends here
	return ans

In [26]:
a, b, c = 2, -20, 6
ll, ul = 1, 15

min_value(a,b,c,ll,ul)

5

In [22]:
abs(-10)

10

# Derivative at a point

In [55]:
import math

def derivative(a):
    # a -> The value at which the derivativeâ€™s value needs to be calculated
    # output-> The value of derivative at x=a
    ans = None

    exp_plus_a = math.exp(a)
    exp_minus_a = math.exp(-a)
    derivative = 4 / pow((exp_plus_a + exp_minus_a), 2)

    ans = round(derivative, 4)

    return ans

In [56]:
derivative(4)

0.0013

In [49]:
pow(4, 2)

16

In [50]:
math.exp(2)

7.38905609893065

# Salary Check

In [64]:
class SalaryNotInRangeError(Exception):
    pass 

def check_salary(salary):
    try:
        if 10000 <= salary <= 100000:
            print("Congratulations!!")
        else:
            raise SalaryNotInRangeError
    except SalaryNotInRangeError as e:
        print("Salary is not in range")

In [69]:
check_salary(100001)

Salary is not in range

In [1]:
class student: 
    def __init__(self): 
        '''The student class is initialized'''

    def print_student(self): 
        '''Returns the student description'''
        print('student description') 

help(student)

Help on class student in module __main__:

class student(builtins.object)
 |  Methods defined here:
 |
 |  __init__(self)
 |      The student class is initialized
 |
 |  print_student(self)
 |      Returns the student description
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [5]:
import math
def roundup(a, digits):
        n = 10**-digits

        return round(math.ceil(a/n)*n,digits), n

print(roundup(123.01247,2))

(123.02, 0.01)

In [13]:
import math
def roundup(a, digits):
        n = math.pow(10,-digits)

        return round(math.ceil(a/n)*n,digits), n

print(roundup(123.01247,2))

(123.02, 0.01)

In [7]:
roundup(123.01247,3)

(123.013, 0.001)

In [28]:
import os
path = os.getcwd()
os.chdir(path)

# Read text File 
def read_text_file(file_path):
    with open(file_path, 'r') as f:
        print(f.read())

for file in os.listdir(path):

    if file.endswith('.txt'):
        file_path = f"{path}/{file}"
        read_text_file(file_path)

In [29]:
class Parent:
    def test(self):
        print("test of parent called", end=", ")
class Child1(Parent):
    def test(self):
        print("test of child1 called", end=", ")
        super().test()
class Child2(Parent):
    def test(self):
        print("test of child2 called", end=", ")
        super().test()
class Brother(Child1,Child2):
    def test2(self):
        print("test of Brother called", end=", " )

obj= Brother()
obj.test()

test of child1 called, test of child2 called, test of parent called,

In [30]:
class Demo:
    def __new__(self):
        self.__init__(self)
        print("Demo's __new__() invoked")

    def __init__(self):
        print("Demo's __init__() invoked")

class Derived_Demo(Demo):
    def __new__(self):
        print("Derived_Demo's __new__() invoked")
    
    def __init__(self):
        print("Derived_Demo's __init__() invoked")

def main():
    obj1 = Derived_Demo()
    obj2 = Demo()

main()

Derived_Demo's __new__() invoked
Demo's __init__() invoked
Demo's __new__() invoked

In [31]:
string = '''
We spent several years building our own database engine, Amazon Aurora, a fully-managed MySQL and PostgreSQL-compatible service with the same or better durability and availability as
the commercial engines, but at one-tenth of the cost. We were not surprised when this worked.
'''
result = lambda key, val: key[ key.find(val) -18 : key.find(val) +18 ] if val in key else -1

print(result(string, 'SQL'))

a fully-managed MySQL and PostgreSQL

In [34]:
string[string.find('SQL') - 18 : string.find('SQL') +18]

'a fully-managed MySQL and PostgreSQL'

In [35]:
string[1:33]

'We spent several years building '

In [38]:
from pprint import pprint as pp
array = [ [1, [ [ 2 ] ], [ [ [ 3 ] ] ], [ [ 4 ], 5 ] ]]
for i in array:
    print(i)
    print()

[1, [[2]], [[[3]]], [[4], 5]]

In [39]:

result = lambda x: sum(map(result, x), [ ] ) if isinstance(x, list) else [x]
print(result(array))

[1, 2, 3, 4, 5]

In [40]:
from functools import reduce
array = {1, 2, 3}
result = lambda array: reduce(lambda P, x: P + [subset | {x} for subset in P], array , [set()]) 

print(result(array))

[set(), {1}, {2}, {1, 2}, {3}, {1, 3}, {2, 3}, {1, 2, 3}]

In [41]:
a = [1,2,3]
print(reduce(lambda x,y: x+y,a, 2))

8

In [45]:
a = [1,2]
a[-2::]

[1, 2]

In [2]:
def fibbo(n):

    if n <= 2:
        return fibonacci_list
    
    fibonacci_list.append(sum(fibonacci_list[-2::]))

    return fibbo(n-1)

def check_prime(n):
    
    is_prime = True 
    if n < 2:
        return False 

    for i in range(2, n):
        if n % i == 0:
            is_prime = False
            return is_prime

    return True 

def fact(N):

    if N <= 1:
        return 1 
    
    return N * fact(N-1)

def func(N):

    global fibonacci_list 
    global factorial_list

    fibonacci_list=[]
    factorial_list=[]
    
    if N <= 2:
        fibonacci_list = list(range(N+1)) 
    
    else:
        fibonacci_list = [0,1]
        fibbo(N)
        # factorial_list = fibonacci_list[::]

        factorial_list = [ fact(i) if check_prime(i) else i for i in fibonacci_list ]

    return fibonacci_list, factorial_list

In [3]:
func(6)

([0, 1, 1, 2, 3, 5], [0, 1, 1, 2, 6, 120])

In [4]:
def divide(a,b):
    """ a and b are integers"""
    try:
        result = a // b
    except ZeroDivisionError as e:
        print("ZeroDivisionError occured")
    return result

def multiply(a,b):
  return a * b 

def subtract(a,b):
  return a - b 
  
def calci(list1,list2):

  """ both arguments are list here"""
  arr1=[]
  arr2=[]
  arr3=[]
  if len(list1) != len(list2):
    print("Not same length")
  else:
    for i in range(0,len(list1)):
      arr1.append(divide(list1[i],list2[i]))
      arr2.append(multiply(list1[i],list2[i]))
      arr3.append(subtract(list1[i],list2[i]))

  return arr1,arr2,arr3

In [6]:
l1 = [4,1,3]
l2 = [4,1,1]
calci(l1, l2)

([1, 1, 3], [16, 1, 3], [0, 0, 2])

In [7]:
dict = {1: "Apple", 2 : "Suman"}

In [8]:
dict

{1: 'Apple', 2: 'Suman'}

In [9]:
dict[1] = "Stra"

In [10]:
dict

{1: 'Stra', 2: 'Suman'}

In [11]:
class A:

    def __init__(self, x):
        self.x = x
    
    def count(self, x):
        self.x += 1

class B(A):

    def __init__(self, y=0):
        A.__init__(self, 5)
        self.y = y 

    def count(self, ):
        self.y += 2


obj = B(6)
obj.count()
print(obj.x, obj.y)

5 8

In [12]:
def pure_func(List):

    for i in range(len(List)):
        List[i] = i**2 

    return List

In [13]:
o = [1,2,3,4]
m = pure_func(o)

In [14]:
o

[0, 1, 4, 9]

In [15]:
m

[0, 1, 4, 9]

In [17]:
class MyError(Exception):

    def __init__(self, value):
        self.value = value

    def __str__(self):
        return (repr(self.value))

    
try:
    raise(MyError("3*2"))

except MyError as error:
    print("A new exception : ", error.value)

A new exception :  3*2

In [20]:
def fact(n):
    
    if n <= 1:
        return 1
    
    return n * fact(n-1)
    

def combination(n, r):
    
    ans = fact(n)/(fact(r) * fact(n-r))
    
    return int(ans)

In [21]:
combination(17, 5)

6188

In [22]:
import math

def fact(n):
    
    if n <= 1:
        return 1
    
    return n * fact(n-1)
    

def combination(n, r):
    
    ans = fact(n)/(fact(r) * fact(n-r))
    
    return int(ans)
    


def num_teams(n,k,m):
	#n -> The total number of people at the party
    #k -> The total number of people in each team to be included
    #m -> The total number of people who will not play the game
    # result -> type int. The number of possible teams
    
    # return the number of possible teams 
    	
	# code starts here

	# code ends here
	
	result = combination(n-m, k)
	
	return result

In [23]:
num_teams(20, 5, 3)

6188

In [24]:
s = 'The quick Brown Fox'

In [29]:
temp = [1 if i.isupper() else 2 for i in s]

In [32]:
temp.count(1), temp.count(2)

(3, 16)

In [34]:
" ".islower()

False

In [36]:
def count_upper_lower(s):
	#s -> The string S

    u = 0
    l = 0
    
    for i in s:
        if i.isupper():
            u += 1
        elif i.islower():
            l += 1
            
    return u, l

In [37]:
count_upper_lower(s)

(3, 13)

In [57]:
import math

def calculate_min(a,b,c,d,n):
    
    result = float('inf')
    
    # results_dict = {}
    for i in range(1, n):
        
        derivative = 2 * a * (i**2) + 2 * b + c 
        
        # results_dict[i] = derivative
        if derivative <= result:

            
            result = derivative
            num = i 
            
            

    return num

In [58]:
a, b, c, d = 1, 5, -3, 1
n = 150

calculate_min(a,b,c,d,n)

1

In [60]:
a, b, c, d = -1, -3, 3, 1
n = 150

calculate_min(a,b,c,d,n)

149