In [ ]:
!gdown 173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ -O Pfizer_1.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Pfizer_1.csv')

## More on missing values

We have learnt how to fill values of one column using an estimator

#### Let's play around a bit more

We will look at two new methods, ```ffill``` and ```bfill```

In [3]:
sample_df = data.head(10)
sample_df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30

In [4]:
sample_df.fillna(method='ffill')

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,12.0,17.0,18.0,11.0,17.0,18,16.0,16.0,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,12.0,22.0,22.0,11.0,22.0,23,16.0,16.0,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,22.0,22.0,27.0,22.0,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,22.0,22.0,7.0,22.0,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,9.0,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,9.0,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,20.0,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,20.0,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30

#### What do we notice here?

Forward fill basically replaces the null value with the value just before it.

Thus, at row 2, the NaN value of `1:30:00` column gets replaced by 12 value of row 1

In [5]:
sample_df.fillna(method='bfill')

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,18.0,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,18.0,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,24.0,17.0,18.0,27.0,17.0,18,25.0,24.0,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,24.0,22.0,22.0,27.0,22.0,23,25.0,24.0,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,35.0,36.0,27.0,37.0,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,35.0,36.0,7.0,37.0,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,57.0,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,57.0,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30

#### Now what did bfill do exactly?

Opposite to forward fill, it replaced the NaN values with the values after them.

This replacement works upwards, while forward fill works downward.

#### Now let's look at another interesting concept, the change of dtype by fillna

In [6]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10 non-null     object
 1   Drug_Name  10 non-null     object
 2   Parameter  10 non-null     object
 3   1:30:00    8 non-null      float64
 4   2:30:00    8 non-null      float64
 5   3:30:00    4 non-null      float64
 6   4:30:00    8 non-null      float64
 7   5:30:00    8 non-null      float64
 8   6:30:00    10 non-null     int64
 9   7:30:00    8 non-null      float64
 10  8:30:00    8 non-null      float64
 11  9:30:00    10 non-null     float64
 12  10:30:00   10 non-null     int64
 13  11:30:00   8 non-null      float64
 14  12:30:00   10 non-null     int64
dtypes: float64(9), int64(3), object(3)
memory usage: 1.3+ KB

As we can see, the dtype of `1:30:00` column is float64

Now what happens if we use fillna on this?

In [7]:
sample_df.fillna(0).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10 non-null     object
 1   Drug_Name  10 non-null     object
 2   Parameter  10 non-null     object
 3   1:30:00    10 non-null     float64
 4   2:30:00    10 non-null     float64
 5   3:30:00    10 non-null     float64
 6   4:30:00    10 non-null     float64
 7   5:30:00    10 non-null     float64
 8   6:30:00    10 non-null     int64
 9   7:30:00    10 non-null     float64
 10  8:30:00    10 non-null     float64
 11  9:30:00    10 non-null     float64
 12  10:30:00   10 non-null     int64
 13  11:30:00   10 non-null     float64
 14  12:30:00   10 non-null     int64
dtypes: float64(9), int64(3), object(3)
memory usage: 1.3+ KB

It's the same, but now, what if we use a string in fillna?

In [8]:
sample_df.fillna("Couldn't Take Reading").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10 non-null     object
 1   Drug_Name  10 non-null     object
 2   Parameter  10 non-null     object
 3   1:30:00    10 non-null     object
 4   2:30:00    10 non-null     object
 5   3:30:00    10 non-null     object
 6   4:30:00    10 non-null     object
 7   5:30:00    10 non-null     object
 8   6:30:00    10 non-null     int64
 9   7:30:00    10 non-null     object
 10  8:30:00    10 non-null     object
 11  9:30:00    10 non-null     float64
 12  10:30:00   10 non-null     int64
 13  11:30:00   10 non-null     object
 14  12:30:00   10 non-null     int64
dtypes: float64(1), int64(3), object(11)
memory usage: 1.3+ KB

#### When we replace the value with string, it changes the dtype of object.

Remember from our earlier discussions, a string based column is considered an object dtype

This is what exactly happened here.

In [9]:
data_melt = pd.melt(data,id_vars = ['Date', 'Drug_Name', 'Parameter'],
            var_name = "time",
            value_name = 'reading')

data_melt

           Date                Drug_Name    Parameter      time  reading
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00     23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00     12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00      NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00      NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00     24.0
..          ...                      ...          ...       ...      ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00     14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00     23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00     28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00     24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00     15.0

[216 rows x 5 columns]

In [10]:
data_tidy = data_melt.pivot(index=['Date','time', 'Drug_Name'],
                                        columns = 'Parameter',
                                        values='reading')

data_tidy

Parameter                                    Pressure  Temperature
Date       time     Drug_Name
15-10-2020 10:30:00 diltiazem hydrochloride      18.0         20.0
                    docetaxel injection          26.0         23.0
                    ketamine hydrochloride        9.0         22.0
           11:30:00 diltiazem hydrochloride      19.0         20.0
                    docetaxel injection          29.0         25.0
...                                               ...          ...
17-10-2020 8:30:00  docetaxel injection          26.0         19.0
                    ketamine hydrochloride       11.0         20.0
           9:30:00  diltiazem hydrochloride       9.0         13.0
                    docetaxel injection          27.0         20.0
                    ketamine hydrochloride       12.0         21.0

[108 rows x 2 columns]



Sometimes, we would want our data to be in **categorical format instead of continous data**.

#### What do we mean by converting continous into categorical data?

Lets say, instead of knowing specific test values of a month, I want to know its type

#### What could be the types?

Depends on level of granularity we want to have - Low, Medium, High, V High

We could have defined more (or less) categories

#### But how can bucketisation of continous data help?

- Since, we can get the count of different categories
- We can get a idea of the bin which category (range of values) most of the temperature values lie.

#### What function can we use to convert cont. to cat. data?

 - Will use pd.cut()
 - We need to provide:
  - the continous data
  - bins edges (array of numbers) to "cut" the entire range
  - labels corresponding to every bin


Let's try to us this on our max (temp) column to categorise the data into bins

But, to define categories, lets first check min and max temp values

In [11]:
data_tidy

Parameter                                    Pressure  Temperature
Date       time     Drug_Name
15-10-2020 10:30:00 diltiazem hydrochloride      18.0         20.0
                    docetaxel injection          26.0         23.0
                    ketamine hydrochloride        9.0         22.0
           11:30:00 diltiazem hydrochloride      19.0         20.0
                    docetaxel injection          29.0         25.0
...                                               ...          ...
17-10-2020 8:30:00  docetaxel injection          26.0         19.0
                    ketamine hydrochloride       11.0         20.0
           9:30:00  diltiazem hydrochloride       9.0         13.0
                    docetaxel injection          27.0         20.0
                    ketamine hydrochloride       12.0         21.0

[108 rows x 2 columns]

In [12]:
print(data_tidy['Temperature'].min(), data_tidy['Temperature'].max())

8.0 58.0

Min value = 8, Max value is 58.

- Lets's keep some buffer for future values and take the range from 5-60(instead of 8-58)
- Lets divide this data into 4 bins of 10-15 values each

In [13]:
temp_points = [5, 20, 35, 50, 60]
temp_labels = ['low','medium','high','very_high'] # Here labels define the severity of the resultant output of the test
data_tidy['temp_cat'] = pd.cut(data_tidy['Temperature'], bins=temp_points, labels=temp_labels)
data_tidy.head()

Parameter                                    Pressure  Temperature temp_cat
Date       time     Drug_Name
15-10-2020 10:30:00 diltiazem hydrochloride      18.0         20.0      low
                    docetaxel injection          26.0         23.0   medium
                    ketamine hydrochloride        9.0         22.0   medium
           11:30:00 diltiazem hydrochloride      19.0         20.0      low
                    docetaxel injection          29.0         25.0   medium

In [14]:
data_tidy['temp_cat'].value_counts()

low          45
medium       30
high         15
very_high     5
Name: temp_cat, dtype: int64

In [15]:
data_tidy = data_tidy.reset_index()
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature,temp_cat
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,low
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,medium
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,medium
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,low
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,medium
...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,low
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,low
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,low
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,low
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,medium

### String function and motivation for datetime

#### What kind of questions can we use string methods for?

Find rows which contains a particular string

Say,

####How you can you filter rows containing "hydrochloric" in their drug name?

In [16]:
data_tidy.loc[data_tidy['Drug_Name'].str.contains('hydrochloride')].head()

Parameter,Date,time,Drug_Name,Pressure,Temperature,temp_cat
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,low
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,medium
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,low
5,15-10-2020,11:30:00,ketamine hydrochloride,9.0,21.0,medium
6,15-10-2020,12:30:00,diltiazem hydrochloride,20.0,21.0,medium


So in general, we will be using the following format:

     > Series.str.function()

Series.str can be used to **access the values of the series as strings** and apply several methods to it.

Now suppose we want to form a new column based on the year of the experiments?

#### What can we do form a column containing the year?

In [17]:
data_tidy['Date'].str.split('-')

0      [15, 10, 2020]
1      [15, 10, 2020]
2      [15, 10, 2020]
3      [15, 10, 2020]
4      [15, 10, 2020]
            ...
103    [17, 10, 2020]
104    [17, 10, 2020]
105    [17, 10, 2020]
106    [17, 10, 2020]
107    [17, 10, 2020]
Name: Date, Length: 108, dtype: object

To extract the year we need to select the last element of each list

In [18]:
data_tidy['Date'].str.split('-').apply(lambda x:x[2])

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: Date, Length: 108, dtype: object

But there are certain problems with this approach:

- The **dtype of the output is still an object**, we would prefer a number type
- The date format will always **not be in day-month-year**, it can vary

Thus, to work with such date-time type of data, we can use a special method of pandas

### Datetime

Lets start with understanding a date-time type of data

#### How can we handle handle date-time data-types?

  - We can do using the `to_datetime()` function of pandas
  - It takes as input:
    - Array/Scalars with values having proper date/time format
    - `dayfirst`: Indicating if the day comes first in the date format used
    - `yearfirst`: Indicates if year comes first in the date format

Let's first merge our ```Date``` and ```time``` columns into a new timestamp column

In [19]:
data_tidy['timestamp'] = data_tidy['Date']+ " "+ data_tidy['time']

In [20]:
data_tidy.drop(['Date', 'time'], axis=1, inplace=True)

In [21]:
data_tidy.head()

Parameter,Drug_Name,Pressure,Temperature,temp_cat,timestamp
0,diltiazem hydrochloride,18.0,20.0,low,15-10-2020 10:30:00
1,docetaxel injection,26.0,23.0,medium,15-10-2020 10:30:00
2,ketamine hydrochloride,9.0,22.0,medium,15-10-2020 10:30:00
3,diltiazem hydrochloride,19.0,20.0,low,15-10-2020 11:30:00
4,docetaxel injection,29.0,25.0,medium,15-10-2020 11:30:00

Lets convert our `timestamp` col now

In [28]:
data_tidy['timestamp'] = pd.to_datetime(data_tidy['timestamp']) # will leave to explore how you can mention datetime format by your own

data_tidy

Parameter,Drug_Name,Pressure,Temperature,temp_cat,timestamp
0,diltiazem hydrochloride,18.0,20.0,low,2020-10-15 10:30:00
1,docetaxel injection,26.0,23.0,medium,2020-10-15 10:30:00
2,ketamine hydrochloride,9.0,22.0,medium,2020-10-15 10:30:00
3,diltiazem hydrochloride,19.0,20.0,low,2020-10-15 11:30:00
4,docetaxel injection,29.0,25.0,medium,2020-10-15 11:30:00
...,...,...,...,...,...
103,docetaxel injection,26.0,19.0,low,2020-10-17 08:30:00
104,ketamine hydrochloride,11.0,20.0,low,2020-10-17 08:30:00
105,diltiazem hydrochloride,9.0,13.0,low,2020-10-17 09:30:00
106,docetaxel injection,27.0,20.0,low,2020-10-17 09:30:00
107,ketamine hydrochloride,12.0,21.0,medium,2020-10-17 09:30:00

In [29]:
data_tidy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Drug_Name    108 non-null    object
 1   Pressure     95 non-null     float64
 2   Temperature  95 non-null     float64
 3   temp_cat     95 non-null     category
 4   timestamp    108 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(2), object(1)
memory usage: 3.8+ KB

The **type of `timestamp` column** has been **changed to `datetime`** from `object`

Now, Let's look at a single timestamp using Pandas

#### How can we **extract information** from a single **timestamp** using Pandas?

In [30]:
ts = data_tidy['timestamp'][0]
ts

Timestamp('2020-10-15 10:30:00')

#### Now how can we extract the year from this date ?

In [31]:
ts.year

2020

Similarly we can also access the month and day using the `month` and `day` attributes

In [32]:
ts.month

10

In [33]:
ts.day

15

#### But what if we want to know the name of the month or the day of the week on that date ?
  - We can find it using `month_name()` and `day_name()` methods

In [34]:
ts.month_name()

'October'

In [35]:
ts.day_name()

'Thursday'

In [36]:
ts.dayofweek

3

In [37]:
ts.hour

10

In [38]:
ts.minute

30

... and so on

We can similarly extract minutes and seconds


#### This data parsing from string to date-time makes it easier to work with data

We can use this data from the columns as a whole using ```.dt``` object

In [39]:
data_tidy['timestamp'].dt

- **`dt` gives properties of values in a column**

- From this **`DatetimeProperties` of column `'end'`**, we can **extract `year`**

In [40]:
data_tidy['timestamp'].dt.year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: timestamp, Length: 108, dtype: int64

Now, Let's **create the new column using these extracted values from the property**

We will use strfttime, short for stringformat time, to modify our datetime format

Let's learn this with the help of few examples

In [41]:
data_tidy['timestamp'][0]

Timestamp('2020-10-15 10:30:00')

In [42]:
print(data_tidy['timestamp'][0].strftime('%Y')) # Formatter for year

2020

In [43]:
print(data_tidy['timestamp'][0].strftime('%m')) # Formatter for month

10

In [44]:
print(data_tidy['timestamp'][0].strftime('%d')) # Formatter for day

15

In [45]:
print(data_tidy['timestamp'][0].strftime('%H')) # Formatter for hour

10

In [46]:
print(data_tidy['timestamp'][0].strftime('%M')) # Formatter for minutes

30

In [47]:
print(data_tidy['timestamp'][0].strftime('%S')) # Formatter for seconds

00

Similarly we can combine the format types to modify the date-time format as per our convinience

In [48]:
data_tidy['timestamp'][0].strftime('%m-%d')

'10-15'

### Writing to file


#### How can we write our dataframe to a csv file?


- We have to **provide the path and file_name** in which you want to store the data

In [49]:
data_tidy.to_csv('../pfizer_tidy.csv', sep=",")